
<table>
	      <tr>
          <td>ID:</td>
					<td>Title:</td>
					<td>URL:</td>
					<td>Image:</td>
					<td>Post Date:</td>
				</tr>
	
			 <% @scrapes.each do |scrape| %>
				<tr>
					<td><%= scrape[:id] %></td> 
			 	  <td><%= scrape[:title] %></td>
					<td><%= scrape[:url] %></td>
					<td><%= scrape[:image] %></td> 
					<td><%= scrape[:post_date] %></td> 
					<td><%= link_to "Delete", scrape, :confirm => 'Are you sure?', :method => :delete %></td> 
				 </tr> 
			 <% end %>
</table>               


<%= link_to "New Scrape", scrapes_new_path %>